.searchBox {
    margin-left: 14px;
    margin-right: 14px;
}

.inputSearchBox{
    margin: 0 auto;
    display: inline;
}
.displayList{
    text-align: left;
    margin: 0 auto;
    width: 200px;
    z-index: 10;
    border: 1px solid mintcream;
    color: black;
    background-color: ghostwhite;
}
